@charset "utf-8";

@import url(css/media.css);
@import url(css/reset.css);


/* ----------------------------Блок присоединения шрифтов--------------------------------*/
@font-face {
font-family: 'HelveticaNeueCyr-Light';
src: url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot');
src: url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
 url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff') format('woff'),
 url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.ttf') format('truetype'),
 url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.svg#fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'HelveticaNeueCyr-Roman';
src: url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot');
src: url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
 url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff') format('woff'),
 url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf') format('truetype'),
 url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.svg#fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'HelveticaNeueCyr-Medium';
src: url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.eot');
src: url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
 url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.woff') format('woff'),
 url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.ttf') format('truetype'),
 url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.svg#fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'HelveticaNeueCyr-Bold';
src: url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot');
src: url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
 url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.woff') format('woff'),
 url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.ttf') format('truetype'),
 url('fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.svg#fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold') format('svg');
font-weight: normal;
font-style: normal;
}
/* ------------------------------ Конец блока присоединения шрифтов ------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*  TYPOGRAPHY
/*-----------------------------------------------------------------------------------*/
body{
    font-family: 'HelveticaNeueCyr-Roman';
    font-size: 18px;
    color: #2d3e50;
    background: #fff;
}
.clear{
    clear: both;
}
a{
    text-decoration: none;
}
/*-----------------------------------------------------------------------------------*/
/*  INDEX
/*-----------------------------------------------------------------------------------*/
/* ------------------------------  Start header ------------------------------ */
header{
    width: 100%;
}
.header-inside{
    overflow: hidden;
    margin: 0 auto;
    padding: 3px 0px 12px 0px;
    text-transform: uppercase;
    border: 0px solid #00ccff;
}
.logo{
    width: 33.33%;   
    float: left;
    border: 0px solid #0f0cff;
}
.logo-a{
    display: block;
    height: 47px;
    margin: 0 0 0 30px;
    background: url(images/logo-bg.jpg) no-repeat;
}
.enter-contacts{
    width: 33.34%;
    float: left;
    border: 0px solid #99fcff;
}
.enter-contacts-inside{
    width: 307px;
    margin: 0 auto;
    padding: 0 0 0 37px;
}
.enter-contacts a{
    display: block;    
    padding: 18px 0 0px 0;
    letter-spacing: 1px;
       
    color: #2d3e50; 
}
.enter-contacts a:hover{
    text-decoration: underline;    
}
.enter{
    float: left;
}
.contacts{
    float: right;
}
.enter-contacts-span{
    display: block;
    width: 52px;
    height: 52px;
    margin: 0 0 0  21px;
    background: url(images/enter-contacts-span.png) no-repeat;
    float: left;
}
.search-user{    
    float: right;
}
.search{
    display: block;
    width: 24px;
    height: 24px;
    margin: 16px 0px 0 0;
    background: url(images/search-bg.png) no-repeat;
    float: right;
}
.user{
    display: block;
    width: 20px;
    height: 24px;
    margin: 16px 30px 0 24px;
    background: url(images/user-bg.png) no-repeat;
    float: right;
}
/* ------------------------------  Stop header ------------------------------ */
/* ------------------------------  Start content ------------------------------ */
.content{
    overflow: hidden; 
    padding: 0 0 70px 0;   
}
.content .content-suppliers, .content .content-companies, .content .content-tenders{
    position: absolute;
    width: 33.33%;
    padding: 50px 0 0 0;
    float: left;
}
.content .content-companies{
    left: 33.33%;
}
.content .content-tenders{
    left: 66.66%
}
/* content-suppliers */
.content-suppliers{
    background: #eac85d;
}
.content-companies {
    background: #e87352;
}
.content-tenders{
    background: #3abec0;
}

.content-inside{
    padding: 0 25px 0 29px;
}
.content-suppliers:hover .hover-content-inside, .content-companies:hover .hover-content-inside, .content-tenders:hover .hover-content-inside{
    cursor: pointer;
    display: block ;
}
.content-inside h2{
    height: 127px;
    margin: 0 0 0 -30px;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
}
.content-inside h3{
    height: 144px;;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-align: left;
    font-family: 'HelveticaNeueCyr-Medium';
}
.content-inside ul{
    height: 201px;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
}
.content-inside ul > li{
    position: relative;
}
.content-inside ul > li:last-child{
    margin: -7px 0 0 30px;
}
.content-inside ul a{
    display: block;
    padding: 0 0 0 30px;
    color: #2d3e50;
}
.content-inside ul a:hover{
    text-decoration: underline; 
}
.content-inside ul > li > a:before {
    position: absolute;
    left: 0;
    content: "";
    width: 9px;
    height: 9px;
    margin: 7px 0px 0px 0;
    background: #2a4151;
    float: left;
}
.content-inside ul > li:hover > a:before{
    background: #fff;
}
.content-inside p{
    height: 252px;
    line-height: 24px;
}
.hover-content-inside{
    position: absolute;
    bottom: 0;
    display: none;
    width: 100%;
    height: 64px;
    background: rgba(1,1,1, 0.1) url(images/hover-content-inside-bg.png) 30px 25px no-repeat;
}
/* ------------------------------  Stop content ------------------------------ */
/*-----------------------------------------------------------------------------------*/
/*  TENDERS
/*-----------------------------------------------------------------------------------*/
/* sidebar-tenders */
.sidebar-tenders{
    width: auto;
    margin: 0 25px 0 0;
    float: left;
}
.touch-menu{
    display: block;
    width: 29px;
    height: 23px;
    margin: 11px 0 10px 1px;
    background: url(images/touch-menu-bg.png) no-repeat;
}
.sidebar-inside{
    display: none;
}
.menu-head {
    position: relative;
    display: block;
    width: 227px;
    padding: 12px 0 12px 30px;
    cursor: pointer;    
    font-size: 16px;
    color: #fff;    
}
.menu-head-tenders{
    background: #0f788d url(images/left.png) 210px center no-repeat;
    border-bottom: 1px solid #fff;
}
h3.menu-head-tenders.active{
    background: #0f788d url(images/down.png) 206px center no-repeat;
    border-bottom: 2px solid #045667;
}
.menu-body {    
    display:none;
    width: 227px;
}
.menu-body a{
    display:inline-block;    
    padding: 6.5px 30px;
    text-decoration:none;
    font-size: 15px;
    color:#fff;    
}
.menu-body span{
    padding: 8px 17px 0 0;
    font-size: 14px;
    color: #fff;
    float: right;
}
.menu-body > li{
    background: #717f8e;
    border-top: 1px solid #fff;
}
.menu-body > li:hover{
    background: #34495e;
}

.menu-body li:first-child{
    border: none;
}
.filter{
    overflow: hidden;
    padding: 27px 0 0 30px;
}
.filter h3{
    padding: 0 0 23px 0;
}
.filter ul li{
    height: 30px;
}
.filter span {
    display: block;
    margin: 0px 0 0px 30px;
    padding: 4px 0 0 0;
    font-size: 12px;
    color: #23475f;
}
/* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
.radio {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 19px;
  height: 19px;
}
/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */
.radio + label {
  cursor: pointer;
}
/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */

/* Прячем оригинальный чекбокс. */
.radio:not(radio) {
  position: absolute;
  opacity: 0;
}
.radio:not(radio) + label {
  position: relative; /* будем позиционировать псевдочекбокс относительно label */
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.radio:not(radio) + label:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 19px;
  height: 19px;
  border: 1px solid #c6c6c6;
  border-radius: 13px;
  background: rgba(0,0,0,.04);
}
/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
.radio:not(radio) + label:after {
    content: '';
    color: #fff;
    position: absolute;
    top: 0px;
    top: 0px;
    left: 0px;
    background: #fff;
    transition: all .2s; /* анимация, чтобы чекбокс переключался плавно */
}
.radio:not(radio) + label:before {
    content: '';
    background: rgba(0,0,0,.04);
}
/* Меняем фон чекбокса, когда он включен. */
.radio:checked + label:before {

}
/* Сдвигаем переключатель чекбокса, когда он включен. */
.radio:checked + label:after {
    content: '\2714';
    /*content: '\1601';*/
    top: 2px;
    left: 2px;
    height: 0;
    color: #848484;
}
/* Показываем получение фокуса. */
.radio:focus(radio) + label:after{
    width: 19px;
    height: 19px;
    content: '';
    background: #fff;
    border: 1px solid #c6c6c6;
}

.radio:focus + label:before {
    width: 19px;
    height: 19px;
    content: '';
    border: 1px solid #c6c6c6;
    background: rgba(0,0,0,.1);
}
.filter input[type=submit]{
    width: 199px;
    margin: 16px 0 0 0;
    padding: 12px 0px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    background: #0f788d;
    border: none;
}
/* ct-descriptions */
.ct-descriptions{
    display: table;
    padding: 0 30px 0 0;
}
.ct-descriptions h2{
    padding: 10px 0 0 0;
}
.ct-descriptions ul:nth-child(2){
    padding: 13px 0 10px 0;
}
.ct-descriptions ul{
    display: table;
    padding: 21px 0 10px 0;
    border-bottom: 1px solid #d3dadf;
}
.ct-descriptions h3{
    padding: 0 0 18px 0;
    letter-spacing: 0.7px;
}
.ct-descriptions ul p{
    line-height: 18px;
    font-size: 14px;
    letter-spacing: 0.7px;
}
.ct-descriptions ul a{
    display: inline-block;
    width: 162px;
    margin: 14px 0 0 0px;
    padding: 6px 0;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: #d3b556;
}
.ct-descriptions ul a:hover{
    text-decoration: underline;
    background: #F3CA4A;
}
/* footer */
footer{
    overflow: hidden;    
}
.footer-block-1{
    width: 23.5%;
    margin: 0 0 0 30px;
    float: left;
}
.footer-block-2{
    width: 31.5%;
    float: left;
}
.footer-block-3{
    width: 20%;
    float: left;
}
.footer-block-4{
    width: 15.3%;
    float: right;
}
footer h3{
    padding: 0 0 16px 0;
    color: #23475f;
    letter-spacing: .6px;
}
footer a{
    text-decoration: underline;
    font-size: 14px;
    color: #363636;
}
footer a:hover{
    text-decoration: none;
    color: #23475f;
}
footer div > ul > li > a{
    line-height: 24px;
}
/*-----------------------------------------------------------------------------------*/
/*  PROVIDERS
/*-----------------------------------------------------------------------------------*/
.menu-head-providers{
    background: #d3b556 url(images/left.png) 210px center no-repeat;
    border-bottom: 1px solid #fff;
}
h3.menu-head-providers.active{
    background: #c2a447 url(images/down.png) 206px center no-repeat;
    border-bottom: 2px solid #5e6457;
}
/* pt-descriptions */
.pt-descriptions{
    padding: 0 28px 0 0;
}
.pt-descriptions h2{
    padding: 10px 0 15px 0;
}
.pt-descriptions ul{
    overflow: hidden;    
}
.pt-descriptions li{    
    position: relative;
    padding: 0 0 2px 2px;
    float: left;
}
.pt-descriptions > ul > li > a:hover{
    transition: all 1s;
    background: rgba(1,1,1, 0.7);
}
.pt-descriptions > ul > li > a:hover span{
    transition: all 1s;
    display: table-cell;
}
.pt-descriptions > ul > li > a{   
    position: absolute; 
    display: block;
    width: 99%;
    height: 98%;
}
.pt-descriptions > ul > li > a> span{
    display: none;
    vertical-align: middle;
    width: 261px;
    height: 193px;
    text-align: center;      
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #fff;
}
.pt-descriptions li img{
    width: 255px;
}
/*-----------------------------------------------------------------------------------*/
/*  COMPANY-MASTER
/*-----------------------------------------------------------------------------------*/
.menu-head-company-master{
    background: #e87352 url(images/left.png) 210px center no-repeat;
    border-bottom: 1px solid #fff;
}
h3.menu-head-company-master.active{
    background: #d76545 url(images/down.png) 206px center no-repeat;
    border-bottom: 2px solid #5e6457;
}
.menu-body-company-master li{
    background: #717f8e;
    border-top: 1px solid #fff;
}
.menu-body-company-master li:hover{
    background: #34495e;
}
/*-----------------------------------------------------------------------------------*/
/*  PERSONAL-OFFICE-1
/*-----------------------------------------------------------------------------------*/
/* user-po */
.user-po{
    padding: 42px 0 31px 30px;
}
.user-po-inside{
    overflow: hidden;   
}
.user-po-inside > li{
    width: 22%;
    margin: 0 4% 0 0;   
    float: left;
}
.user-po-inside > li:last-child{
    margin-right: 0;
}
.user-po-inside > li > a{
    display: table-cell;
    width: 263px;
    vertical-align: middle;
    height: 42px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background: #c2a346;
}
.user-po-inside > li > a:hover{
    opacity: 0.8;
}
.sidebar-personal-office{
    position: absolute;
    left: 0;
    width: 264px;
    margin: 0 0 0 30px;
    float: left;
}
.sidebar-inside-personal h3.menu-head-po{
    width: 100%;
    padding: 12px 0;
    text-align: center;
    background: #0f788d;
}
.menu-body-po{
    width: 100%;
}
.sidebar-po{
    padding: 50px 0 0 0;
}
.sidebar-po a img{
    width: 100%;
}
.po-descriptions{
    display: block;
    width: 100%;
    padding: 0 30px 0 357px;
}
.tabs__caption li {
    position: relative;
    display: block;
    width: 187px;
    margin: 0 12px 0px 0;
    padding: 13px 0;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    background: #d7d7d7;    
    float: left;
}
.tabs__caption .active {
    background: #eeeeee;
}
/* tabs__content */
.tabs__content {
    display: none;
    background: #eeeeee;
    padding: 30px 17px 70px 13px;
}
.tabs__content.active {
    display: block;
}
.form-po ul{
    overflow: hidden; 
    padding: 2px 0 28px 0;   
}
.form-po li{
    padding: 0 23px 0 0;
    float: left;
}
.form-po li label{
    display: block;
    padding: 2px 0 0 8px;
    font-size: 16px;
    float: left;    
}
.form-po input[type=text] {
    display: inline-block;
    width: 45px;
    text-align: right;
    margin: 0px 0px 0 15px;
    padding: 1px 10px 0 0;
    font-size: 14px;
    color: #23475f;
    border: 1px solid #b7b7b7;
    border-radius: 10px;
    background: none
}
.tc-descpiption{
    padding: 26px 0 25px 0;
    border-bottom: 1px solid #d3dadf;
}
.tc-descpiption h3{
    padding: 0 0 18px 0;
}
.tc-descpiption p{
    line-height: 18px;
    font-size: 14px;
    letter-spacing: 0.7px;
}
.tabs__content div.tc-descpiption:last-child{
    border: none;
}
/*-----------------------------------------------------------------------------------*/
/*  PERSONAL-OFFICE-2
/*-----------------------------------------------------------------------------------*/
.lining{
    height: 44px;
}
.tc-descpiption-2{
    position: relative;
    overflow: hidden;
    padding: 0px 0 7px 0;
    border-bottom: 1px solid #d3dadf;
}
.tc-descpiption-2 h3{
    padding: 4px 0 19px 0;
    letter-spacing: -0.1px;
}
.tc-descpiption-2 p{
    line-height: 18px;
    font-size: 14px;
    color: #111;
}
.tcd-a{
    display: block;
    margin: 0 22px 0 0;
    float: left;
}
.add-delete{
    position: absolute;
    right: 0;
    bottom: 7px;    
}
.add-delete a{
    margin: 0 0 0 52px;
    padding: 0px 0 5px 27px;
    font-size: 14px;
    color: #23475f;
}
.add{
    display: inline-block;
    background: url(images/add-bg.png) 4px 0px no-repeat;
}
.delete{
    display: inline-block;
    background: url(images/delete-bg.png) 0px 0px no-repeat;
}
.page-title-map{
    padding: 12px 0 15px 0;
    font-size: 14px;
}
.page-title-map a, .page-title-map span{
    display: inline-block;
    color: #23475f;
}
.page-title-map a.active-post{
    color: #000;
}
.page-title-map span{
    padding: 0 5px;
}
p.hint{
    display: inline-block;
    width: 52%;
    margin: 21px 0 0 2px;
    padding: 12px 0px 25px 13px;
    color: #000;
    background: #fff;
    border: 1px solid #d7d7d7;
}
p.hint:before{
    content: "";
    display: block;
    width: 16px;
    height: 13px;
    margin: -25px 0 12px 10px;
    background: url(images/hint-before-bg.png) 0px 0px no-repeat;
}
/*-----------------------------------------------------------------------------------*/
/*  PERSONAL-OFFICE-3
/*-----------------------------------------------------------------------------------*/
.tc-descpiption-3{
    padding: 0 0 0 5px;
}
.tc-descpiption-3 h3{
    padding: 4px 0 33px 0;
    font-size: 16px;
    letter-spacing: -0.1px;
}
.tc-descpiption-3 form input[type=text]{
    width: 66%;
    height: 42px;
    padding: 0 0 0 8px;
    font-size: 14px;
    color: #cccccc;
    /*box-shadow: inset 0px 2px 5px rgba(1,1,1,0.2);*/
    border: 1px solid #d6d6d6;
    border-top: 1px solid #a0a0a0;
}
.tc-descpiption-3 form ::-webkit-input-placeholder {font-size: 14px; color: #ccc;}
.tc-descpiption-3 form :-moz-placeholder {font-size: 14px; color: #ccc;}
.tc-descpiption-3 form ::-moz-placeholder {font-size: 14px; color: #ccc;}
.tc-descpiption-3 form :-ms-input-placeholder {font-size: 14px; color: #ccc;}
.tc-descpiption-3 form input[type=submit]{
    width: 26%;
    height: 42px;
    margin: 0 3.5% 0 0;
    font-size: 16px;
    color: #fff;
    background: #0f788d;
    border: none;
    float: right;
}
.tc-descpiption-3 form input[type=submit]:hover{
    opacity: 0.8;
}
.tc-descpiption-3 form span{
    display: block;
    padding: 20px 0 14px 0;
    font-size: 14px;
}
.pasword-bp{
    padding: 30px 0 0 0;
}
.pasword-bp a{
    display: inline-block;
    width: 229px;
    height: 42px;
    padding: 13px 0 0 0;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background: #c2a346;
}
.pasword-bp a:hover{
    opacity: 0.8;
}
.pasword-bp a:first-child{
    margin: 0 33px 0 0;
}
/*-----------------------------------------------------------------------------------*/
/*  ENTER
/*-----------------------------------------------------------------------------------*/
.header-bottom{
    overflow: hidden;
    margin: 0 auto;
    padding: 42px 30px 0px 30px;
    border: 0px solid #00cc00;
}
.header-bottom h3{
    font-family: 'HelveticaNeueCyr-Medium';
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.hb-left{
    width: 45%;
    float: left;
}
.hb-left h3{
    padding: 0 0 24px 28px;
}
.hb-left ul{
    line-height: 30px;
    letter-spacing: 0px;
}
.hb-left ul > li{
    position: relative;
}
.hb-left ul a{
    display: block;
    padding: 0 0 0 30px;
    color: #2d3e50;
}
.hb-left ul a:hover{
    text-decoration: underline; 
}
.hb-left ul > li > a:before {
    position: absolute;
    left: 0;
    content: "";
    width: 9px;
    height: 9px;
    margin: 9px 0px 0px 0;
    background: #2a4151;
    float: left;
}
.hb-left ul > li:hover > a:before{
    background: #211FD6;
}
.register{
    display: inline-block;
    width: 227px;
    height: 42px;
    margin: 30px 0 42px 0;
    padding: 12px 0 0 0;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background: #3a5570;    
}
/* hb-right */
.hb-right{
    width: 48%;
    float: right;
}
.hb-right h3{
    padding: 0 0 30px 0;
}
.hb-right form input[type=text]{
    width: 100%;
    height: 42px;
    margin: 0 0 29px 0;
    padding: 0 0 0 8px;
    font-size: 14px;
    color: #cccccc;
    background: #f9f9f9;
    border: 1px solid #d6d6d6;
    border-top: 1px solid #a0a0a0;
}
.hb-right form ::-webkit-input-placeholder {font-family: 'Roboto', sans-serif; font-weight: 400; font-size: 14px; color: #ccc;}
.hb-right form :-moz-placeholder {font-family: 'Roboto', sans-serif; font-weight: 400; font-size: 14px; color: #ccc;}
.hb-right form ::-moz-placeholder {font-family: 'Roboto', sans-serif; font-weight: 400; font-size: 14px; color: #ccc;}
.hb-right form :-ms-input-placeholder {font-family: 'Roboto', sans-serif; font-weight: 400; font-size: 14px; color: #ccc;}
.hb-right form input[type=submit]{
    display: inline-block;
    width: 227px;
    height: 42px;
    margin: 3px 0 0 0;
    padding: 2px 0 0 0;
    text-align: center;
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    background: #3a5570;
    border: none;
    float: right;
}
.hb-right form a{
    display: block;
    padding: 16px 42px 0 0;
    color: #000;
    float: right;
}
.hb-right form a:hover{
    text-decoration: underline;
}
.hb-right form span{
    display: block;
    padding: 9px 98px 0 0;
    float: right;
}
.social{
    padding: 12px 0 0 0;
    float: right;
}
.social li{
    padding: 0 0 0 30px;
    float: left;
}
/*-----------------------------------------------------------------------------------*/
/*  CONTACTS
/*-----------------------------------------------------------------------------------*/
.header-contacts{
    padding: 0 30px 62px 30px;
}
.header-contacts-inside h3{
    padding: 43px 0 33px 0;
    text-align: center;
    font-family: 'HelveticaNeueCyr-Medium';
    text-transform: uppercase;
}
.header-contacts-inside form ul{
    overflow: hidden;
}
.header-contacts-inside form ul li:first-child{
    width: 47.5%;
    float: left;
}
.header-contacts-inside form ul li:last-child{
    width: 47.5%;
    float: right;
}
.header-contacts-inside form input[type=text]{
    width: 100%;
    height: 42px;
    margin: 0 0 29px 0;
    padding: 0 0 0 8px;
    font-size: 14px;
    color: #cccccc;
    background: #f9f9f9;
    border: 1px solid #d6d6d6;
    border-top: 1px solid #a0a0a0;
}
.header-contacts-inside form ::-webkit-input-placeholder {font-family: 'Roboto', sans-serif; font-weight: 400; font-size: 14px; color: #ccc;}
.header-contacts-inside form :-moz-placeholder {font-family: 'Roboto', sans-serif; font-weight: 400; font-size: 14px; color: #ccc;}
.header-contacts-inside form ::-moz-placeholder {font-family: 'Roboto', sans-serif; font-weight: 400; font-size: 14px; color: #ccc;}
.header-contacts-inside form :-ms-input-placeholder {font-family: 'Roboto', sans-serif; font-weight: 400; font-size: 14px; color: #ccc;}
.header-contacts-inside form textarea{
    width: 100%;
    height: 184px;
    margin: 0 0 25px 0;
    padding: 11px 0 0 13px;    
    font-size: 14px;
    background: #f9f9f9;
    border: 1px solid #d6d6d6;
    border-top: 1px solid #a0a0a0;
}
.header-contacts-inside form input[type=submit]{
    display: inline-block;
    width: 227px;
    height: 42px;
    padding: 2px 0 0 0;
    text-align: center;
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    background: #3a5570;
    border: none;
    float: right;
}
.header-contacts-inside form input[type=submit]:hover{
    opacity: 0.8;
}
/*-----------------------------------------------------------------------------------*/
/*  FORMS
/*-----------------------------------------------------------------------------------*/
/* header-forms */
.header-forms{
    overflow: hidden;
    margin: 0 auto;
    padding: 11px 0px 10px 0px;    
    border: 0px solid #00ccff;
}
.logo{
    width: 33.33%;   
    float: left;
    border: 0px solid #0f0cff;
}
.logo-a{
    display: block;
    height: 47px;
    margin: 0 0 0 30px;
    background: url(images/logo-bg-2.jpg) no-repeat;
}
.hf-enter-contacts{
    width: 33.34%;
    float: left;
    border: 0px solid #99fcff;
}
.hf-enter-contacts-inside{
    width: 216px;
    margin: 0 auto;
    padding: 0px;
}
.hf-enter-contacts a{
    display: block;    
    padding: 18px 0 0px 0;
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    color: #2d3e50; 
}
.hf-enter-contacts a:hover{
    text-decoration: underline;    
}
.hf-enter{
    float: left;
}
.hf-contacts{
    float: right;
}
.hf-enter-contacts-span{
    display: block;
    width: 52px;
    height: 52px;
    margin: 0 0 0 18px; 
    background: url(images/enter-contacts-span.png) no-repeat;
    float: left;
}
.hf-email{    
    padding: 18px 30px 0 0;
    float: right;
}
.hf-email a{
    display: block;
    padding: 0 0 5px 35px;
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    color: #2d3e50; 
    background: url(images/hf-email-bg.png) 0px 0px no-repeat;
}
/* content-forms */
.content-contact{
    padding: 0;
}
h3.content-forms-h3{
    padding: 20px 0 12px 0;
    color: #e74c3c;
    background: #ebebeb;
    border-bottom: 1px solid #ccc;
}
h3.content-forms-h3 span{
    display: inline-block;
    padding: 0 0 0 30px;
}
.content-forms{
    padding: 20px 30px 50px 30px;
    font-family: 'Roboto', sans-serif; font-weight: 400;
    background: #ebebeb;
}
.content-forms h4{
    padding: 5px 0 5px 0;
    color: #23475f;
}
.content-forms label{
    display: block;
    padding: 0 0 7px 0;
    font-size: 14px;
    color: #898989;
}
form.cf-form > ul > li:last-child{
    width: 48%;
}
form.cf-form input[type=text]{
    width: 48%;
    height: 42px;
    margin: 0 0 0px 0;
    padding: 0 0 0 8px;
    font-size: 14px;
    background: #fdfdfd;
    border: 1px solid #d6d6d6;
    border-top: 1px solid #a0a0a0;
}
form.cf-form ::-webkit-input-placeholder {font-size: 14px; color: #ccc;}
form.cf-form :-moz-placeholder {font-size: 14px; color: #ccc;}
form.cf-form ::-moz-placeholder {font-size: 14px; color: #ccc;}
form.cf-form :-ms-input-placeholder {font-size: 14px; color: #ccc;}
form.cf-form textarea{
    width: 48%;
    min-height: 125px;
    margin: 0 0 0px 0;
    padding: 11px 0 0 13px;    
    font-size: 14px;
    background: #f9f9f9;
    border: 1px solid #d6d6d6;
    border-top: 1px solid #a0a0a0;
}
form.cf-form input.budget{
    width: 43%;
}
form.cf-form input[type=submit]{
    display: inline-block;
    width: 227px;
    height: 42px;
    padding: 2px 0 0 0;
    font-size: 16px;
    color: #fff;
    background: #dfbe58;
    border: none;
    float: right;
}
.all-filds{
    display: block;
    padding: 21px 0 0 4px;
    font-size: 14px;
    color: #e74c3c;
}










/* footer forms*/
.footer-forms{
    overflow: hidden;
    padding: 20px 0 10px 0;
    border: 0px solid #000;
}
.footer-forms-block-1{
    width: 39.2%;
    margin: 0 0 0 35px;
    float: left;
}
.footer-forms-block-2{
    width: 31.5%;
    float: left;
}
.footer-forms-block-3{
    padding: 0 24px 0 0;
    float: right;
}
.footer-forms h3{
    font-family: 'PT Sans', sans-serif; 
    font-weight: 600;
    padding: 0 0 16px 0;
    color: #23475f;
    letter-spacing: 0px;
}
.footer-forms a{
    font-family: 'PT Sans', sans-serif; 
    font-weight: 400;
}
/*footer div > ul > li > a{
    line-height: 24px;
}*/